/* 공통 */

.header_list a, .intro_list a{text-decoration:none;}
.header_list a:hover, .intro_list a:hover{cursor:pointer;}

body{
width: 75%;
margin:0 auto;
background-color:gray;
border:10px solid gray;
}

.header_whitebox{
overflow:auto;
height:70px;
background-color:white;
}

.header_list{
position: relative;
margin-left:65%;
}

.header_list li, .intro_list li{
float:left;
background-color:powderblue;
list-style:none;
text-align:center;
box-shadow:2px 2px gray;
}

.header_list li{
margin-left:8px;
color: blue;
width:100px;
height: 30px;
line-height: 30px;
}

.intro_whitebox{
overflow:auto;
border-top:10px solid gray;
background-color:white;
}

.url_info{
height:80px;
border-top:10px solid gray;
background-color:white;
text-align: center;
}

/* index.html */

.home_page{text-align: center;}

.intro_list{
overflow: auto;
width: 300px;
margin:0px auto;
}

.intro_list li{
margin:10px;
width:100px;
height:100px;
color: white;
font-size:20px;
line-height:100px;
}

#location_map{
clear:both;
margin: 10px auto;
width:550px;
height: auto;
}

/* aboutme.html */

.self_intro{margin:20px 50px;}

.intro_head{
font-size:20px;
font-weight: bold;
}

/* photo.html */

.album{margin: 50px 40px;}

.middle_line{clear:both;height:1;}

.photo{
float:left;
width:300px;
margin-right:40px;
margin-bottom: 35px;
border:5px solid gray;
}

.info_photo{line-height: 1.8em;}